
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity)); /* gris oscuro */
  color: white; 
}
/* Para activar el modo oscuro cuando el cuerpo tiene la clase dark */
body.dark {
  background-color: #1a202c; /* Fondo oscuro */
  color: #e2e8f0; /* Texto claro */
}


.custom-top{
  top: 4rem;
}
.custom-z{
  z-index: 9999;
}
.custom-z-h{
  z-index: 50 !important;
}
.custom-z-a{
  z-index: 50 !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

